{# <project_root>/templates/argo_spec.tmpl #}
apiVersion: argoproj.io/v1alpha1
kind: Workflow
metadata:
  generateName: workflow-
  namespace: {{ namespace }}
spec:
  workflowMetadata:
    labels:
      plugin: kedro-argo 
  entrypoint: "pipeline"
  templates:
  - name: kedro
    metadata:
      labels:
        app: kedro-argo
    inputs:
      parameters:
      - name: pipeline
      - name: kedro_nodes
    container:
      image: {{ image }}
      command: ["kedro"]
      imagePullPolicy: Always
      args:
      - "run"
      - "--pipeline"
      - "{{ '{{inputs.parameters.pipeline}}' }}"
      - "--nodes"
      - "{{ '{{inputs.parameters.kedro_nodes}}' }}"
      - "--runner"
      - "kedro_argo.runners.FusedRunner"
      - "--env"
      - "{{ environment }}"

  - name: pipeline
    dag:
      tasks:
      {% for task in pipeline_tasks %}
      - name: {{ task.name }}
        template: {{ task.get('template', 'kedro') }}
        {% if task.deps %}
        dependencies:
        {% for dep in task.deps %}
          - {{ dep }}
        {% endfor %}
        {% endif %}
        arguments:
          parameters:
          - name: pipeline
            value: {{ pipeline_name }}
          - name: kedro_nodes
            value: {{ task.nodes }}

      {% endfor %}
