{# <project_root>/templates/argo_spec.tmpl #}
apiVersion: argoproj.io/v1alpha1
kind: Workflow
metadata:
  name: {{ workflow_name }}-{{ random }}
  namespace: {{ namespace }}
spec:
  workflowMetadata:
    labels:
      plugin: argo-kedro 
  entrypoint: "pipeline"
  templates:
  - &_kedro_template
    name: kedro
    metadata:
      labels:
        app: argo-kedro
    inputs:
      parameters:
      - name: pipeline
        value: {{ pipeline_name }}
      - name: kedro_nodes
      - name: mem
      - name: cpu
      - name: num_gpu
      - name: environment
        value: {{ environment }}
      - name: emph_storage
      {% for init_template in init_templates %}
        {% for output in init_template.outputs.parameters %}
      - name: {{ output.name }}
        {% endfor %}
      {% endfor %}
    podSpecPatch: |
      volumes:
          - name: scratch
            ephemeral:
              volumeClaimTemplate:
                spec:
                  accessModes: ["ReadWriteOnce"]
                  resources:
                    requests:
                      storage: {% raw %}"{{inputs.parameters.emph_storage}}Gi"
                      {% endraw %}
      containers:
        - name: main
          resources:
            requests:
              memory: {% raw %} "{{inputs.parameters.mem}}Gi"
              {% endraw %}
              cpu: {% raw %} "{{inputs.parameters.cpu}}"
              {% endraw %}
              nvidia.com/gpu: {% raw %} "{{inputs.parameters.num_gpu}}"
              {% endraw %}
            limits:
              memory: {% raw %} "{{inputs.parameters.mem}}Gi"
              {% endraw %}
              cpu: {% raw %} "{{inputs.parameters.cpu}}"
              {% endraw %}
              nvidia.com/gpu: {% raw %} "{{inputs.parameters.num_gpu}}"
              {% endraw %}
          volumeMounts:
            - name: scratch
              mountPath: {{ template.emph_storage_mount_path }}
    container: &_kedro_container
      image: {{ image }}
      command: ["kedro"]
      imagePullPolicy: Always
      env:
        - name: WORKFLOW_ID
          valueFrom:
            fieldRef:
              fieldPath: metadata.labels['workflows.argoproj.io/workflow']
        - name: NUM_CPU
          value: {% raw %}"{{inputs.parameters.cpu}}"
          {% endraw %}
        - name: MEM_LIMIT_GB
          value: {% raw %}"{{inputs.parameters.mem}}"
          {% endraw %}
      {% for env in template.environment %}
        - name: {{ env.name }}
          {% if env.secret_ref is defined and env.secret_ref %}
          valueFrom:
            secretKeyRef:
              name: {{ env.secret_ref.name }}
              key: {{ env.secret_ref.key }}
          {% elif env.value is defined and env.value %}
          value: '{{ env.value | replace("'", "''") }}'
          {% endif %}
      {% endfor %}
      {% for init_template in init_templates %}
        {% for output in init_template.outputs.parameters %}
        - name: {{ output.name | upper }}
          value: "{{ '{{inputs.parameters.' ~ output.name ~ '}}' }}"
        {% endfor %}
      {% endfor %}
      args:
      - "run"
      - "--pipeline"
      - "{{ '{{inputs.parameters.pipeline}}' }}"
      - "--nodes"
      - "{{ '{{inputs.parameters.kedro_nodes}}' }}"
      - "--env"
      - "{{ environment }}"

  {% for tmpl in template.templates %}
  {% if tmpl.name in (init_templates | map(attribute='name') | list) %}
  - name: {{ tmpl.name }}
    metadata:
      labels:
        app: argo-kedro
    container:
      image: {{ image }}
      imagePullPolicy: Always
      env:
        - name: WORKFLOW_ID
          valueFrom:
            fieldRef:
              fieldPath: metadata.labels['workflows.argoproj.io/workflow']
      {% for env in template.environment %}
        - name: {{ env.name }}
          {% if env.secret_ref is defined and env.secret_ref %}
          valueFrom:
            secretKeyRef:
              name: {{ env.secret_ref.name }}
              key: {{ env.secret_ref.key }}
          {% elif env.value is defined and env.value %}
          value: '{{ env.value | replace("'", "''") }}'
          {% endif %}
      {% endfor %}
      command: {{ tmpl.container.command }}
      args:
      - |-
{{ tmpl.container.args | indent(10, true) }}
    outputs:
      parameters:
        {% for param in tmpl.outputs.parameters %}
        - name: {{ param.name }}
          valueFrom:
            path: {{ param.path }}
        {% endfor %}
  {% else %}
  - <<: *_kedro_template
    name: {{ tmpl.name }}
    container:
      <<: *_kedro_container
      env:
          - name: WORKFLOW_ID
            valueFrom:
              fieldRef:
                fieldPath: metadata.labels['workflows.argoproj.io/workflow']
        {% for env in template.environment %}
          - name: {{ env.name }}
            {% if env.secret_ref is defined and env.secret_ref %}
            valueFrom:
              secretKeyRef:
                name: {{ env.secret_ref.name }}
                key: {{ env.secret_ref.key }}
            {% elif env.value is defined and env.value %}
            value: '{{ env.value | replace("'", "''") }}'
            {% endif %}
        {% endfor %}
        {% for init_template in init_templates %}
          {% for output in init_template.outputs.parameters %}
          - name: {{ output.name | upper }}
            value: "{{ '{{inputs.parameters.' ~ output.name ~ '}}' }}"
          {% endfor %}
        {% endfor %}
        {% for env in tmpl.container.env %}
          - name: {{ env.name }}
            {% if env.secret_ref is defined and env.secret_ref %}
            valueFrom:
              secretKeyRef:
                name: {{ env.secret_ref.name }}
                key: {{ env.secret_ref.key }}
            {% elif env.value is defined and env.value %}
            value: '{{ env.value | replace("'", "''") }}'
            {% endif %}
        {% endfor %}
      command: {{ tmpl.container.command }}
      args:
      - |-
{{ tmpl.container.args | indent(10, true) }}
    {% if tmpl.sidecars is defined and tmpl.sidecars %}
    sidecars:
    {% for sidecar in tmpl.sidecars %}
    - name: {{ sidecar.name }}
      image: {{ sidecar.image }}
      volumeMounts:
      {% for volume_mount in sidecar.volume_mounts %}
      - name: {{ volume_mount.name }}
        mountPath: {{ volume_mount.mount_path }}
        readOnly: {{ volume_mount.read_only }}
      {% endfor %}
      env:
      {% for env in sidecar.env %}
        - name: {{ env.name }}
          {% if env.secret_ref is defined and env.secret_ref %}
          valueFrom:
            secretKeyRef:
              name: {{ env.secret_ref.name }}
              key: {{ env.secret_ref.key }}
          {% elif env.value is defined and env.value %}
          value: '{{ env.value | replace("'", "''") }}'
          {% endif %}
      {% endfor %}
    {% endfor %}
    volumes:
    {% for volume in tmpl.volumes %}
    - name: {{ volume.name }}
      secret:
        secretName: {{ volume.secret_ref.name }}
        items:
        - key: {{ volume.secret_ref.key }}
          path: {{ volume.secret_ref.path }}
    {% endfor %}
  {% endif %}
  {% endif %}
  {% endfor %}

  - name: pipeline
    dag:
      tasks:
      {% for init_template in init_templates %}
      - name: {{ init_template.name }}
        template: {{ init_template.name }}
      {% endfor %}
      {% for task in pipeline_tasks %}
      - name: {{ task.name }}
        template: {{ task.template }}
        dependencies:
        {% if not task.deps %}
        {% for init_template in init_templates %}
          - {{ init_template.name }}
        {% endfor %}
        {% endif %}
        {% for dep in task.deps %}
          - {{ dep }}
        {% endfor %}
        {% if task.machine_type.num_gpu > 0 %}
        podSpecPatch: |
          tolerations:
            - key: "nvidia.com/gpu"
              value: "present"
              effect: "NoSchedule"
        {% endif %}
        arguments:
          parameters:
          - name: kedro_nodes
            value: {{ task.node.name }}
          - name: num_gpu
            value: {{ task.machine_type.num_gpu }}
          - name: mem
            value: {{ task.machine_type.mem }}
          - name: cpu
            value: {{ task.machine_type.cpu }}
          - name: emph_storage
            value: {{ task.machine_type.emph_storage }}
          {% for init_template in init_templates %}
            {% for output in init_template.outputs.parameters %}
          - name: {{ output.name }}
            value: "{{ '{{tasks.' ~ init_template.name ~ '.outputs.parameters.mlflow_run_id}}' }}"
            {% endfor %}
          {% endfor %}
      {% endfor %}
