{# <project_root>/templates/argo_spec.tmpl #}
apiVersion: argoproj.io/v1alpha1
kind: Workflow
metadata:
  name: {{ workflow_name }}-{{ random }}
  namespace: {{ namespace }}
spec:
  workflowMetadata:
    labels:
      plugin: argo-kedro 
  entrypoint: "pipeline"
  templates:
  {% for tmpl in template.templates %}
  - name: {{ tmpl.name }}
    metadata:
      labels:
        app: argo-kedro
    container:
      image: {{ image }}
      imagePullPolicy: Always
      env:
        - name: WORKFLOW_ID
          valueFrom:
            fieldRef:
              fieldPath: metadata.labels['workflows.argoproj.io/workflow']
      {% for env in template.environment %}
        - name: {{ env.name }}
          valueFrom:
            secretKeyRef:
              name: {{ env.secret_ref.name }}
              key: {{ env.secret_ref.key }}
      {% endfor %}
      command: {{ tmpl.container.command }}
      args:
      - |-
{{ tmpl.container.args | indent(10, true) }}
    outputs:
      parameters:
        {% for param in tmpl.outputs.parameters %}
        - name: {{ param.name }}
          valueFrom:
            path: {{ param.path }}
        {% endfor %}
  {% endfor %}
  - name: kedro
    metadata:
      labels:
        app: argo-kedro
    inputs:
      parameters:
      - name: pipeline
      - name: kedro_nodes
      - name: mem
      - name: cpu
      - name: num_gpu
      {% for init_template in init_templates %}
        {% for output in init_template.outputs.parameters %}
      - name: {{ output.name }}
        {% endfor %}
      {% endfor %}
    podSpecPatch: |
      containers:
        - name: main
          resources:
            requests:
              memory: {% raw %} "{{inputs.parameters.mem}}Gi"
              {% endraw %}
              cpu: {% raw %} "{{inputs.parameters.cpu}}"
              {% endraw %}
              nvidia.com/gpu: {% raw %} "{{inputs.parameters.num_gpu}}"
              {% endraw %}
            limits:
              memory: {% raw %} "{{inputs.parameters.mem}}Gi"
              {% endraw %}
              cpu: {% raw %} "{{inputs.parameters.cpu}}"
              {% endraw %}
              nvidia.com/gpu: {% raw %} "{{inputs.parameters.num_gpu}}"
              {% endraw %}
    container:
      image: {{ image }}
      command: ["kedro"]
      imagePullPolicy: Always
      env:
        - name: WORKFLOW_ID
          valueFrom:
            fieldRef:
              fieldPath: metadata.labels['workflows.argoproj.io/workflow']
      {% for env in template.environment %}
        - name: {{ env.name }}
          valueFrom:
            secretKeyRef:
              name: {{ env.secret_ref.name }}
              key: {{ env.secret_ref.key }}
      {% endfor %}
      {% for init_template in init_templates %}
        {% for output in init_template.outputs.parameters %}
        - name: {{ output.name | upper }}
          value: "{{ '{{inputs.parameters.' ~ output.name ~ '}}' }}"
        {% endfor %}
      {% endfor %}
      args:
      - "run"
      - "--pipeline"
      - "{{ '{{inputs.parameters.pipeline}}' }}"
      - "--nodes"
      - "{{ '{{inputs.parameters.kedro_nodes}}' }}"
      - "--env"
      - "{{ environment }}"

  - name: pipeline
    dag:
      tasks:
      {% for init_template in init_templates %}
      - name: {{ init_template.name }}
        template: {{ init_template.name }}
      {% endfor %}
      {% for task in pipeline_tasks %}
      - name: {{ task.name }}
        template: {{ task.get('template', 'kedro') }}
        dependencies:
        {% for init_template in init_templates %}
          - {{ init_template.name }}
        {% endfor %}
        {% for dep in task.deps %}
          - {{ dep }}
        {% endfor %}
        {% if task.num_gpu > 0 %}
        podSpecPatch: |
          tolerations:
            - key: "nvidia.com/gpu"
              value: "present"
              effect: "NoSchedule"
        {% endif %}
        arguments:
          parameters:
          - name: pipeline
            value: {{ pipeline_name }}
          - name: kedro_nodes
            value: {{ task.nodes }}
          - name: num_gpu
            value: {{ task.num_gpu }}
          - name: mem
            value: {{ task.mem }}
          - name: cpu
            value: {{ task.cpu }}
          {% for init_template in init_templates %}
            {% for output in init_template.outputs.parameters %}
          - name: {{ output.name }}
            value: "{{ '{{tasks.' ~ init_template.name ~ '.outputs.parameters.mlflow_run_id}}' }}"
            {% endfor %}
          {% endfor %}
      {% endfor %}
